.button {
  padding: 16px;
  letter-spacing: 0.625px;
  border-radius: 8px;
  text-transform: uppercase;
}
.button--white {
  background-color: white;
  color: black;
}
.button--pear {
  background-color: #e88069;
  color: black;
}
