.real-deal {
  margin-bottom: 150px;
}
.real-deal__box {
  display: flex;
  justify-content: space-between;
  background-color: #fdf4f2;
  border-radius: 15px;
  background-image: url("../../images/svg/bg-pattern-three-circles.svg");
  background-position: top left;
}
.real-deal__text {
  padding: 70px 70px 0 70px;
  padding-top: 100px;
}
.real-deal__title {
  font-size: 48px;
  font-weight: 500;
  color: #e88069;
  margin-bottom: 20px;
}
.real-deal__desc {
  max-width: 550px;
  font-size: 20px;
}
.real-deal__img {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}
@media (max-width: 999px) {
  .real-deal__box {
    flex-direction: column-reverse;
  }
  .real-deal__img {
    width: 100%;
    height: auto;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .real-deal__text {
    padding: 40px;
    text-align: center;
  }
  .real-deal__desc {
    max-width: none;
  }
  .real-deal {
    margin-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .real-deal__title {
    font-size: 32px;
  }
  .real-deal__text {
    padding: 10px;
  }
}
