.footer-card__box {
  background-image: url("../../images/svg/bg-pattern-call-to-action.svg");
  background-position: 100%;
  background-repeat: repeat-y;
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #e88069;
  border-radius: 15px;
  padding: 70px;
  z-index: 1;
}

.footer-card__title {
  color: white;
  font-size: 48px;
  max-width: 350px;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
  line-height: 1.2;
}
.footer-card__desc {
  color: white;
  max-width: 450px;
}
@media (max-width: 737px) {
  .footer-card__box {
    text-align: center;
    flex-direction: column;
  }
  .footer-card__title {
    max-width: none;
  }
  .footer-card__desc {
    max-width: none;
  }
}
@media (max-width: 480px) {
  .footer-card__box {
    padding: 20px;
  }
  .footer-card__title {
    font-size: 28px;
  }
  .footer-card__desc {
    font-size: 14px;
  }
}
