.locations__box {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 150px;
}
.locations__box {
  .card {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 202px;
      height: 202px;
      left: 50%;
      transform: translateX(-50%);
      background: url(/src/images/svg/bg-pattern-small-circle.svg);
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

@media (max-width: 999px) {
  .locations__box {
    flex-direction: column;
    gap: 30px;
  }
  .locations__box {
    margin-bottom: 100px;
  }
}
