.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
.header__list {
  display: flex;
  gap: 25px;
}
.header__link {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  &:hover {
    text-decoration: underline;
  }
}
