.benefits__cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  .card {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 202px;
      height: 202px;
      left: 50%;
      transform: translateX(-50%);
      background: url("../../images/svg/bg-pattern-small-circle.svg");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
  .card__img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 999px) {
  .benefits__cards {
    flex-direction: column;
    gap: 25px;
    text-align: left;
  }
  .benefits__cards {
    .card {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      &::before {
        left: 100px;
      }
    }
  }

  .card__img {
    min-width: 200px;
  }
}
@media (max-width: 480px) {
  .benefits__cards {
    .card {
      flex-direction: column;
      &::before {
        left: 50%;
      }
    }
  }
}
